{% extends "forms/field.html.twig" %}

{% set value = (value is null ? field.default : value) %}

{% block contents %}

    <script>
    if(!document.twind_installed){
        twind.install({
            hash: false
        });
      document.twind_installed = true;
    }
    </script>

    {% include 'forms/fields/blocks/label.html.twig' with {field: field} %}
    
    <div class="form-data{% if not vertical %} block size-2-3 pure-u-2-3{% endif %}"
        {% block global_attributes %}
        data-grav-field="{{ field.type }}"
        {% endblock %}
    >
        <div class="form-list-wrapper {{ field.size }}" data-blocks>

            <div class="text-right">
                <button type="button" class="button" data-block-action="open-selection" data-block-add-index="prepend"><i class="fa fa-plus"></i> {{ "PLUGIN_BLOCKS.ADD"|t }} </button>
            </div>    
            
            {% include 'forms/fields/blocks/list.html.twig' with {field: field} %}

            <dialog data-block-element="dialog-new">
                {% include 'forms/fields/blocks/new.html.twig' with {field: field} %}
            </dialog>

            <dialog data-block-element="dialog-remove">
                    <div class="button danger" data-block-action="remove">
                        <i class="fa fa-fw text-primary fa-check"></i>
                        <span>{{ 'PLUGIN_ADMIN.DELETE'|t }}</span>
                    </div>
            </dialog>

            <div class="text-right">
                <button type="button" class="button {{ value ? '' : 'hidden' }}" data-block-action="open-selection" data-block-add-index="append"><i class="fa fa-plus"></i> {{ "PLUGIN_BLOCKS.ADD"|t }} </button>
            </div>     
        </div>
    </div>

    
{% endblock %}
