<div class="form-label{% if not vertical %} block size-1-3 pure-u-1-3{% endif %}">
    {% if show_label %}
    <label>
        {% if field.help %}
            {% if field.markdown %}
                <span class="hint--bottom" data-hint="{{ field.help|t|markdown(false) }}">{{ field.label|t|markdown(false)|raw }} <i class="hint-icon fa fa-question-circle" aria-hidden="true"></i></span>
            {% else %}
                <span class="hint--bottom" data-hint="{{ field.help|t }}">{{ field.label|t|raw }} <i class="hint-icon fa fa-question-circle" aria-hidden="true"></i></span>
            {% endif %}
        {% else %}
        {{ field.label|t }}
        {% endif %}
        {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    {% endif %}
    {% if field.description %}
    <div class="form-extra-wrapper {{ field.wrapper_classes }}">
        <span class="form-description">{{ field.description|t|markdown(false)|raw }}</span>
    </div>
    {% endif %}
    {% if field.sublabel %}
    <div class="form-sublabel {{ field.sublabelclasses }}">
        {% if field.markdown %}
            {{ field.sublabel|t|markdown(false)|raw }}
        {% else %}
            {{ field.sublabel|t|raw }}
        {% endif %}
    </div>
    {% endif %}
</div>